@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #08070B;
  overflow-x:hidden;
}

body::-webkit-scrollbar {
  width: 12px;            
}

body::-webkit-scrollbar-track {
  background: #000;     
}

body::-webkit-scrollbar-thumb {
  background-color: #0035c8;  
  border-radius: 20px;      
  border: 3px solid #00fff2; 
}

.dark-mode body::-webkit-scrollbar-thumb{
   background-color: #10fdd5;  
  border-radius: 20px;      
  border: 3px solid #00ff95; 
}

.dark-mode body::-webkit-scrollbar-track {
  background-color:#ddc0c0;     
}


html {
  scroll-behavior: smooth;
}

/*Header*/
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.menu-toggle {
  display: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
}

nav {
  display: flex;

  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 14px;
}

.menu li {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.func {
  display: flex;
  gap: 40px;
  margin-left: 50px;
}

.extra {
  font-size: 28px;
}

.main-header a {
  opacity: 100%;
  transition: .2s;
}

.main-header i {
  color: #fff;
  opacity: 100%;
  transition: .2s;
}

.main-header i:hover {
  opacity: 20%;
}

.main-header a:hover {
  opacity: 20%;
}

/*Conteúdo Principal*/

main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  color: #fff;
}

.texto {
  display: flex;
  flex-direction: column;
}

.descc {
  color: gray;
  opacity: 70%;

}

.history {
  font-size: 22px;
  max-width: 500px;
  text-align: justify;
  text-align-last: left;
}

main h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.fa-play {
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.fa-pause {
  background: none;
  color: #000;
  border-radius: 50px;
  font-size: 30px;
}

.play-icon {
  color: #000;
  border-radius: 50px;
  font-size: 30px;
}

.playing .play-icon:before {
  border-radius: 50px;

}

main h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 34px;
}

/*PÁUSA PARA BOTÃO DE TOPO AQUI*/
.topo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 45px;
  text-decoration: none;
  background-color: #e6450080;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.seta {
  text-align: center;
  transition: .2s;
  text-decoration: none;
  color: #000;
  position: absolute;
  z-index: 1;
}

.topo:hover .seta {
  transform: translateY(20%);
}

main img {
  border-radius: 100%;
  width:500px;
  transition: 2s;
  filter: grayscale(100%);
  animation: subir-descer 3s infinite;
}

main img:hover {
  filter: none;
}

@keyframes subir-descer {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.skills {
  padding-top: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 0;
  height: 100%;
  /* Adicionado */
}

.skills .habilidades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-gap: .1rem;
  font-size: 1.3rem;
  padding: 1rem 80px;
}



.skills h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 33px;
  text-align: center;
}

#projetos {
  margin-top: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 33px;
  text-align: center;
  color: #fff;
}

.cardd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #3b3b3b;
  border-radius: 30px;
  cursor: pointer;
  height: 200px;
  overflow: hidden;
  border: 2px solid transparent;
  position: relative;
  transition: 3s ease;
}

.skill-t {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  text-align: center;

}

.cardd p {
  transition: 1s;
  color: #c2c2c2;
}

.card1:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #ff3300 10%, #b72906 50%, #df4382 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}

.card2:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #00818a 10%, #1664ca 50%, #006eff 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.card3:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #bd8100 10%, #bde010 50%, #7d9504 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.cardp:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #4f829c 10%, #5264a3 50%, #364e6d 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.cardm:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #08ddc5 10%, #3780cd 50%, #2ca5b5 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}

.cardx:hover p {
  transform: translateY(-35%) scale(1.2);
  background: linear-gradient(to right, #ff0a0a 10%, #a84c1a 50%, #de7412 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}

.card4:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #74b611 10%, #95c021 50%, #1ebe46 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.card5:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #c02195 10%, #9d3cec 50%, #3b18e7 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}

.card6:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #08ddc5 10%, #3780cd 50%, #2ca5b5 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.card7:hover p {
  transform: translateY(-35%) scale(1.2);
  background: linear-gradient(to right, #12bf85 10%, #07b094 50%, #2cdda2 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.card8:hover p {
  transform: translateY(-35%) scale(1.2);
  background: linear-gradient(to right, #8532ec 10%, #a061ff 50%, #a656f5 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}


.card9:hover p {
  transform: translateY(-35%) scale(1.5);
  background: linear-gradient(to right, #c417b0 10%, #b41ff9 50%, #e040e2 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate2 1.5s linear infinite;
}



@keyframes animate2 {
  to {
    background-position: 200%;

  }
}



.skills .hab {
  width: 90px;
  height: 90px;
  transition: 2s;

}

.cardd:hover .hab {
  transform: translateY(-35%) scale(1.1);
}


/*Projetos*/

.card {
  background-color: #3B3B3B;
  color: #fff;
  position: relative;
  z-index: 0;
}

.card-img-top {
  width: 287px;
  height: 280px;
}





/*Modal*/

.janela-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;
  background-color: #00000080;
  display: none;
  align-items: center;
  justify-content: center;

}

.modal1 {
  color: #000;
  border-radius: 20px;
  padding: 50px;
  background-color: #ffffffb5;
  width: 60%;
  min-width: 450px;
  min-height: 200px;
  backdrop-filter: blur(10px);
  text-align: center;

}

.modal1 video {
  width: 400px;
  height: 250px;
  border-radius: 30px;
}

.content {
  display: flex;
  flex-direction: row;
}

.btn{
  border: none;
  outline: none;
  background-image: linear-gradient(#211862,#3021a1, #372b91) ;
  padding: 12px 22px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #655ec5;
}
  .btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

.dark-mode .btn{
    background-image: linear-gradient(#25248f,#4f9bde, #242894) ;
  color:#000000;
}

.content-text {
  font-size: 30px;
  color: black;
}

.inst {
  display: flex;
  flex-direction: column;
}

.fechar {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: hotpink;
  border: none;
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;

}

.janela-modal.abre {
  display: flex;
  position: absolute;
}

.modal-container.mostrar {
  display: flex;
}

.mostrar .modal {
  animation: animate-modal .3s;
}

/*Projetos*/

.projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  margin-top: 100px;
}



footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  background-color: #252525;
  width: 100%;
  margin-top: 100px;
}

@keyframes pulinho {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-7px);
  }
}

.container-footer {
  display: flex;
  justify-content: space-around;
  gap: 30px;

}
footer{
 padding-top:10px; 
}

footer h3 {
  color: #fff;
  font-size: 25px;
}

.fa-brands {
  font-size: 50px;
}

.fa-solid {
  font-size: 50px;
}

.redes {
  display: flex;
  flex-direction: wrap;
  gap: 15px;
}

.fa-brands:hover {
  animation: pulinho .5s linear;
}

.fa-solid:hover {
  animation: pulinho .5s linear;
}


.coluna p {
  color: #fff;
}





/*Redes*/

.redess {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.redess a {
  text-decoration: none;
  font-size: 40px;
}

/*Mudança de modo*/

.dark-mode {
  background-color: #ddc0c0;
  color: #000;
}

.dark-mode .main-header a {
  color: #000;
}

.dark-mode .main-header i {
  color: #000;
}



.dark-mode .main-header {
  background-color: #adadad;
  color: #000;

}


.dark-mode a {
  color: #000;

}

.dark-mode footer {
  background-color: #c2c2c2;
  color: #000;
}

.dark-mode p {
  color: #000;
}

.dark-mode #projetos {
  color: #000;
}

.dark-mode h2 {
  color: #000;
}

.dark-mode main h1 {
  color: #000;
}

.dark-mode main h2 {
  color: #000;
}

.dark-mode footer h3 {
  color: #000;
}

.dark-mode .history {
  color: #000;
}

.dark-mode .menu {
  background-color: #adadad;
}

.dark-mode .card {
  background-color: #75b7f0;
  color: #000;
}

.dark-mode .descc {
  color: #000;
  opacity: 70%;
}

.dark-mode .cardd {
  background-color: #5eadd4;

}

/*Responsividade*/
@media screen and (max-width: 767px) {

  /*HEADER*/
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    z-index: 999;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 1rem;

  }

  .menu-toggle {
    display: block;
    background: transparent;
  }

  .menu-open .menu {
    display: flex;
  }



  /*Em Produção*/
  .skills .habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: .2rem;
    font-size: 1.3rem;
    padding: 1rem 80px;
  }

  .card1,
  .card2:hover {
    text-transform: uppercase;
  }

  .ingles {
    margin-left: 7px
  }

  .func {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .cardx:hover {
    transform: none;
  }

  .card7:hover {
    transform: none;
  }

  .card4:hover {
    transform: none;
  }

  .cardd {
    width: 220px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  /*ERRO arrumado*/
  main {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .history {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    max-width: 330px;
    text-align: justify;
    text-align-last: left;
  }

  .redess {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .redess a {
    font-size: 15px;
  }

  .container-footer {
    display: inline-block;
    text-align: center;
  }

  .coluna {
    margin-bottom: 30px;
  }

  .coluna p {
    text-align: center;
  }

  .redes {
    display: flex;
    gap: 5px;
  }




}
